$black: #000; //15% opacity for top flip card
$steel-gray: #191a23; //flip card shadow + half circles
$martinique: #343650; //bottom flip card
$manatee: #8385a9; //flip card label + logos
$white: #fff;
$brink-pink: #fb5e84; //numbers

$red-hat-text: "Red Hat Text", sans-serif;
